<h1>❌ Booking Cancelled!</h1>

<p>The booking has been cancelled:</p>

<ul>
  <li>Nationality: <%= @booking.nationality %></li>
  <li>Room Type: <%= @booking.room_type %></li>
  <li>Check-in: <%= @booking.check_in %></li>
  <li>Check-out: <%= @booking.check_out %></li>
  <li>Guests: <%= @booking.guests %></li>
</ul>
